html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,time,mark,audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,
figcaption,figure,
footer,hgroup,
menu,nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

change colours to suit your needs / ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

change colours to suit your needs / mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  text-decoration: none;
}

body {
  background-color: #f3f3f3;
}

header {
  background-color: #fff;
  width: 100%;
  height: 90px;
}

.something {
  padding-top: 28px;
  padding-left: 1%;
}

.username {
  padding-top: 12px;
  font-family: Helvetica, sans-serif;
  color: #111;
  font-size: 22px;
}


header .header-cases {
  display: none;
}

.index-banner {
  width: 100%;
  height: calc(100vh - 90px);
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h3 {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  line-height: 70px;
  color: #fff;
  justify-content: center;
  display: flex;
  text-shadow: 2px 2px 8px #111
}


.index-banner h2 {
  font-family: Helvetica, sans-serif;
  padding-left: 1%;
  font-size: 30px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: left;
  text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

.index-boxlink-1 {
  margin: 16px 16px 0;
  width: calc(100%-32px);
  height: 100px;
  background-color: #f2f2f2;
}

.list {
  padding-top: 12px;
  padding-left: 100px;
}

footer {
  width: calc(100% - 4%);
  padding: 2% 2%;
  background-color: #111;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  float: left;
  padding: 50px;
  list-style-type: none;
  box-sizing: border-box;
  list-style: none;
  padding-bottom: 15px;
  padding-left: 60%;
}

footer ul li a {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
}

.footer-social {
  width: 60px;
  float: right;
}

.footer-social img {
  width: 50%;
  margin-bottom: 2%;
}

.find {
  padding-bottom: -10px;
}

.blank-banner-1 {
  width: 100%;
  height: calc(100vh - 140px);
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vartical-center {
  display: table-cell;
  vertical-align: middle;
}


.about-box {
  width: 600px;
  height: 450px;
  background: #fff;
  color: #fff;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-box h1 {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  color: #111;
  padding-left: 45px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.about-box p {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: #111;
  padding-left: 45px;
  padding-right: 30px;
  padding-top: 15px;
}

.loginbox {
  width: 360px;
  height: 320px;
  background: #fff;
  color: #fff;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 100px;
  border-radius: 5px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.email {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: #111;
}

.notmatching {
  margin: 2;
  padding: 5;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #fc1703;
}

.input-box {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  width: 200px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #111;
}

.loginbox a {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: #111;
  justify-content: center;
  display: flex;
}

.loginbox a:hover {
  color: #c2c2c2;
  justify-content: center;
  display: flex;
}

.loginbox form {
  padding-top: 60px;
  padding-left: 75px;
  align-content: center;
}

.login-error {
  padding-top: 15px;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: #ff0000;
}

.formtitle {
  font-family: Helvetica, sans-serif;
  color: #f2f2f2;
  margin: auto;
}

.formandtitle ul {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-left: 200px;
}

.formandtitle ul li {
  display: inline-block;
  list-style: none;
  padding: 5px 5px;
}

.biglist ul li {
  display: table;
  float: left;
  list-style: none;
  padding: 1.4% 10px;
}

.biglist ul {
  display: table;
  margin: 0 auto;
  margin-top: 3%;
  margin-left: 0.5%;
  margin-bottom: 1%;
}

.bigtable2 {
  margin-top: 50px;
  font-family: Helvetica, sans-serif;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  justify-content: center;
}

.bigtable2 td,
.bigtable2 th {
  font-size: 17px;
  border: 1px solid #ddd;
  padding: 18px;
  text-align: center;
}

.bigtable2 th {
  background-color: #cc8b4f;
  color: white;
}

.bigtable2 tr {
  background-color: #777e1a;
}

.bigtable2 tr:hover {background-color: #ddd;}

.date {
  font-size: 10px;
  float: right;
  margin-right: 5px;
}

.input-text-box {
  border: none;
  background: #e0e0e0;
  outline: none;
  resize: none;
  width: 90%;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  column-gap: 1%;
  grid-row-gap: 50px;
  margin-left: 2%;
  margin-top: 20px;
}

.horizontal-list button {
  list-style-type: none;
  box-sizing: border-box;
  padding: 10px;
  width: 90%;
  height: 300px;
  border: solid;
  border-color: #f3f3f3;
  color: #f3f3f3;
  background: #111;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 5px;
}

.list-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container2 {
  display: flex;
  justify-content: center;
  width: 290px;
}

.form-container3 {
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  width: 150px;
  height: 150px;
}


.form-input {
  margin-bottom: 10%;
  border-radius: 8px;
  background-color: white;
}

.footer-links {
  padding: 0%;
  display: block;
  width: 20%;
}

.footer-links li {
  list-style-type: none;
  box-sizing: border-box;
  padding: 2% 20% 2% 20%;
  margin-right: px;
  width: 100%;
  height: 100%;
}

.charts {
  width: 60%;
  margin: 0 auto;
}

.chart {
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 1050px;
  width: 1050px;
}

.wrongcredentials{
color:red;
padding-left: 50px;
padding-bottom: 10px;
}

.login-button {
  padding-left: 600px;
  padding-right: 20px;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #111111;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.cleared {
  text-decoration: line-through;
  opacity: 0.7;
  background: linear-gradient(
    90deg,
    rgb(20, 255, 79) 0%,
    rgb(17, 255, 37) 100%
  );
}

.uncleared {
  background: linear-gradient(
    90deg,
    rgb(255, 47, 20) 0%,
    rgb(255, 33, 17) 100%
  );
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.pay-icon {
  color: #fff;
}

@media screen and (max-width: 1050px) and (min-width: 768px){
  .login-button {
    padding-left: 220px;
  }
}

@media screen and (max-width: 768px) {
  .horizontal-list {
    flex-wrap: wrap;
  }
  .horizontal-list li {
    width: 50%;
    height: 50%;
  }
  .footer-links {
    flex-wrap: wrap;
  }
  .footer-links li {
    width: 50%;
    height: 50%;
  }
  
  .button {
    margin-left: 2px;
  }

  body {
    font-family: Helvetica, sans-serif;
  }

  .data-presentation{
    justify-content: center;
    display: flex;
    width: 100%;
  }
}
